<div class="product-index-main-container">
<h1 class="product-index-main-heading">List of users:</h1>
<% @users.each do |user| %>
    <div class="product-index-container">
    <h1 class="product-heading"><%= link_to user.user_name.capitalize,user, class: 'product-link' %></h1>
    <p class="product-details"><%= user.mobile_number%></p>
    <p class="product-details"><%= user.email%></p>
    <div class="product-index-buttons-container">
    <%= button_to "Edit", edit_user_path(user) , method: :get,class:"btn btn-primary",style:"margin-right: 20px;"%>
    <%= link_to "Destroy", user_path(user), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, method: :delete,class:"btn btn-danger"%>
    </div>
</div></br>
<% end %>
<div class="new-product-button-container">
<%= button_to "New user", new_user_path,method: :get,class:"btn btn-success"%>
</div>
</div>